body {
    background-color: rgba(11, 19, 43, 1);
    margin: 0;
}

.form {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input_block {
    background-color: rgba(31, 40, 61, 0.4);
    padding: 30px 30px 25px 30px;
    box-shadow: 10px 0px 25px #00000080;
    width: calc(0.55 * 100vw);
}

.input_block label {
    color: rgba(228, 228, 228, 0.8);
    margin-bottom: 5px;
    font-size: 20px;
}

.input_block input[type="text"],input[type="email"],input[type="number"],textarea {
    font-size: 20px;
    display: block;
    margin: 5px 0px 20px 0px;
    width: calc(0.53 * 100vw);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    border: 1px solid rgba(198, 198, 198, 0.5);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color:rgba(228, 228, 228, 0.8);
    outline: none;
}

.input_block input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-bottom: 20px;
}

.input_block textarea {
    height: 80px;
}

.input_block input:focus,textarea:focus {
    outline: 1px solid rgba(66, 163, 223, 0.8);
}

@keyframes show_notice {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#notice {
    font-size: 20px;
    color: rgba(255, 0, 0);
    text-decoration: underline;
}

#notice:hover {
    color: rgba(255, 0, 0, 0.8);
    cursor: pointer;
    text-decoration: none;
}

.notice {
    animation: show_notice 1.5s;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(228, 228, 228, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.notice div {
    background-color: rgba(228, 228, 228, 0.8);
    border: 2px solid black;
    border-radius: 20px;
    position: fixed;
    width: 75vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.notice div li {
    letter-spacing: 3px;
    margin-bottom: 10px;
}

#input_div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input_block input[type="submit"] {
    font-size: 20px;
    background-color: rgba(80, 144, 254, 1);
    display: block;
    margin: 30px 100px 20px 50px;  
    padding: 8px 20px 8px 20px;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    flex: 1;
}

.input_block input[type="submit"]:hover {
    background-color: rgba(80, 144, 254, 0.8);
}

.input_block input[type="reset"] {
    font-size: 20px;
    background-color: rgba(213, 225, 247, 1);
    display: block;
    margin: 30px 50px 20px 100px;
    padding: 8px 20px 8px 20px;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    flex: 1;
}

.input_block input[type="reset"]:hover {
    background-color: rgba(213, 225, 247, 0.8);
}

.go_to_pay {
    background-color: rgba(31, 40, 61, 0.4);
    padding: 30px 30px 25px 30px;
    box-shadow: 10px 10px 25px #00000080;
    width: calc(0.55 * 100vw);
}

.go_to_pay input {
    display: none;
}

.go_to_pay input[type="submit"] {
    font-size: 20px;
    background-color: rgba(80, 144, 254, 1);
    display: block;
    margin: 30px auto 20px;
    width: 200px;
    padding: 8px 20px 8px 20px;
    cursor: pointer;
    border-radius: 20px;
    border: none;
}

.go_to_pay input[type="submit"]:hover {
    background-color: rgba(80, 144, 254, 0.8);
}

#copyright {
    padding: 32px;
    color: rgba(255, 255, 255, 0.5);
    background-color: #1d242a;
    text-align: center;
    font-size: 11px;
    font-family: Arial;
    position: relative;
}

#copyright div a {
    text-decoration: none;
}

#copyright div a img {
    width: 20px;
    padding: 20px;
    transition: 0.5s;
}

#copyright div a img:hover {
    width: 30px;
    transition: 0.3s;
}

#copyright .copyright_link {
    color: rgba(255, 255, 255, 0.5);
    margin-right: 5px;
    text-decoration: none;
}

#copyright .copyright_link:hover {
    color: rgba(255, 255, 255, 0.5);
    margin-right: 5px;
    text-decoration: underline;
}